.App {
  text-align: center;
}

.App h1{
  margin-right: 450px;
  margin-bottom: 1px;
}

.form{
  display:center;
  align-items: center;
  width:100%
}

.container {

  padding: 20px;
  margin-left: 10px;
  
 
}

.Card{
padding: 100px;
align-items: center;


}

.delete-items{
  margin-right: 500px;
  position: relative;
  margin-top: 50px;

}

